---
import TableCaption from "@/components/ui/table/TableCaption.astro";
import TableHeader from "@/components/ui/table/TableHeader.astro";
import TableRow from "@/components/ui/table/TableRow.astro";
import TableHead from "@/components/ui/table/TableHead.astro";
import TableBody from "@/components/ui/table/TableBody.astro";
import TableCell from "@/components/ui/table/TableCell.astro";
import CurrencyOff from "@/components/ui/icons/CurrencyOff.astro";
import type { Job } from "@/types";

const res = await fetch(`${Astro.url}/api/jobs.json`)
const jobsData = await res.json() as Job[]
---

<div class="relative w-full overflow-auto">
  <table class="border w-full caption-bottom text-sm">
    <TableCaption>
      Siempre ten en cuenta los valores como referencia y no como un absoluto.
    </TableCaption>
    <TableHeader>
      <TableRow>
        <TableHead>Posición</TableHead>
        <TableHead>Compañia</TableHead>
        <TableHead>Localidad</TableHead>
        <TableHead>Modalidad</TableHead>
        <TableHead>Sueldo</TableHead>
        <TableHead>Fecha Publicación</TableHead>
      </TableRow>
    </TableHeader>

    <TableBody class="scroll-y-auto max-h-[80vh]">
      {
        jobsData?.map((job) => {
          return (
            <TableRow href={job.url}>
              <TableCell class="group-hover:underline underline-offset-2">
                {job.title}
              </TableCell>
              <TableCell>{job.company}</TableCell>
              <TableCell class="max-w-[30ch] truncate" title={job.location}>
                {job.location}
              </TableCell>
              <TableCell>{job.modality}</TableCell>
              <TableCell>
                {job.payment ?? (
                  <span class="flex items-center gap-x-2">
                    <CurrencyOff /> N/A
                  </span>
                )}
              </TableCell>
              <TableCell>
                {job.published}, {job.year}
              </TableCell>
            </TableRow>
          );
        })
      }
    </TableBody>
  </table>
</div>
